<div class="container-fluid">
  <app-menu *ngIf="url != '/home'"></app-menu>
  <div class="row">
    <div class="col-md-12" *ngIf="url === '/home'">
      <h3>
        Video cassette rental.
        Application created for educational purposes. The application is written in Java 8 using Spring Boot, Web, Security.
        Data is saved using the RabbitMQ mechanism to the Mongo database. The application contains unit tests.
        Frontend of this application was built by Angular 9.
        <p *ngIf="loggedUser === null">If you want to see more, you have to <a routerLink="/login">login</a>.</p>
      </h3>
    </div>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>

