<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p id="response">
        {{message}}
      </p>
      <form role="form" (submit)="onSubmit(title, director)">
        <div class="form-group">

          <label for="title">
            Tytuł
          </label>
          <input size="30" type="text" class="form-control" [(ngModel)]="title" name="title" id="title"/>
        </div>
        <div class="form-group">

          <label for="director">
            Reżyser
          </label>
          <input size="30" type="text" class="form-control" [(ngModel)]="director" name="director" id="director"/>
        </div>
        <button type="submit" class="btn btn-primary">
          Submit
        </button>
        <button type="reset" class="btn btn-danger">
          Wyczyść
        </button>
      </form>
    </div>
  </div>
</div>
