<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p id="response">
        {{message}}
      </p>
      <form (ngSubmit)="onSubmit(username, password)" role="form">
        <div class="form-group">

          <label for="username">
            Login
          </label>
          <input required size="30" type="text" class="form-control" name="username" id="username" [(ngModel)]="username"/>
        </div>
        <div class="form-group">

          <label for="password">
            Hasło
          </label>
          <input required size="30" type="password" class="form-control" name="password" id="password" [(ngModel)]="password"/>
        </div>
        <button type="submit" class="btn btn-primary">
          Zaloguj
        </button>
        <button type="reset" class="btn btn-danger">
          Wyczyść
        </button>
      </form>
    </div>
  </div>
</div>
