<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p id="response">
        {{message}}
      </p>
      <form role="form" (ngSubmit)="onSubmit(title)">
        <div class="form-group">

          <label for="title">
            Tytuł
          </label>
          <input required size="30" type="text" class="form-control" name="title" id="title" [(ngModel)]="title"/>
        </div>

        <button type="submit" class="btn btn-primary">
          Submit
        </button>
        <button type="reset" class="btn btn-danger">
          Wyczyść
        </button>
      </form>
      <table class="table">
        <thead>
        <tr>
          <th>
            Tytuł
          </th>
          <th>
            Reżyser
          </th>
          <th>
            Czy wypożyczona
          </th>
          <th>
            Data wypożyczenia
          </th>
          <th>
            Data zwrotu
          </th>
          <th>
            Ilość dni wypożyczenia
          </th>
          <th>
            Wypożycz / Zwróć
          </th>
        </tr>
        </thead>
        <tbody>
        <tr #clear class="table-active" *ngFor="let cassette of cassettes">
          <td>{{cassette.title}}</td>
          <td>{{cassette.director}}</td>
          <td>{{cassette.isLoan}}</td>
          <td>{{cassette.loanDate}}</td>
          <td>{{cassette.returnDate}}</td>
          <td>{{cassette.loanDays}}</td>
          <td>
          <button class="btn btn-lg btn-success" *ngIf="!cassette.isLoan"  (click)="loanOrReturn(cassette.title, cassette.director)">Wypożycz</button>
          <button class="btn btn-lg btn-warning" *ngIf="cassette.isLoan" (click)="loanOrReturn(cassette.title, cassette.director)">Zwróć</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
