<div class="row">
  <div class="col-md-12">
    <h3 class="text-center text-muted">
      Video Cassette Rental
    </h3>
  </div>
</div>
<div class="row" *ngIf="loggedUser != null">
  <div class="col-md-12">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/add">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/get">Get</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/modifyTitle">Modify title</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/modifyDirector">Modify director</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/delete">Delete</a>
      </li>
      <li *ngIf="loggedUser != null" class="nav-item">
        <a class="nav-link" routerLink="" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</div>
